.homeContainer {
  height: 100vh;
  color: var(--main-font-color);

  // Obraz autorstwa freepik
  background-image: url("../../../public/background_home.avif");
  background-size: cover;
  background-position: center;
}

.backgroundContainer {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: center;
  justify-content: center;
}

.homeIntro {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 40px;
}
