@import "styles/breakpoints.scss";

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  width: 164px;
  height: 42px;

  background-color: rgba(255, 255, 255, 0);
  color: var(--main-font-color);
  border: 3px solid var(--main-font-color);

  @include media(">=laptop") {
    transition: 1s;

    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}
