@import "styles/breakpoints.scss";

.aboutUsContainer {
  padding: 30px 0;

  @include media(">=laptop") {
    align-items: initial;
  }
}

.aboutUsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.aboutUsTitle {
  @include media(">=laptop") {
    align-self: flex-start;
  }
}

.aboutUsList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;

  @include media(">=laptop") {
    flex-direction: row;
  }
}

.listItem:nth-of-type(odd) {
  .person {
    background-color: var(--main-background);
  }
}

.listItem:nth-of-type(even) {
  .person {
    background-color: var(--secondary-background);
  }

  @include media(">=laptop") {
    flex-direction: row-reverse;
    text-align: right;
  }
}

.person {
  border-radius: 50%;
  height: 221px;
  width: 221px;

  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.personImg {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.personDetail {
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  @include media(">=laptop") {
    margin: 30px;
  }
}

.personName {
  font-weight: 700;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 18px;
}

.personDescription {
  font-size: 18px;
  margin: 5px;
}
