//import breakpoints
@import "styles/breakpoints.scss";

.offerContainer {
  padding: 80px 70px;
  background-color: var(--secondary-background);
  color: var(--main-font-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;

  .offerList {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;

    .offerItem {
      width: 338px;
      height: 331px;
      display: flex;
      flex-direction: column;

      background-color: var(--white-color);
      color: var(--secondary-font-color);

      align-items: center;
      justify-content: center;

      position: relative;

      .newItemTag {
        height: 37px;
        width: 37px;
        background-color: var(--new-item-color);

        border-radius: 50%;

        position: absolute;
        top: -17px;
        left: -17px;
      }

      @include media(">=laptop") {
        width: 200px;
        height: 200px;

        &:hover {
          transform: scale(1.05);
          transition: 0.5s;
        }
      }
    }

    @include media(">laptop") {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
}
