:root {
  //add css variables here
  --main-font-color: #fff;
  --secondary-font-color: #000;
  --main-background: #2d661b;
  --secondary-background: #405d78;
  --active-color: #f0fff1;
  --white-color: #fff;
  --new-item-color: #ee6055;
}
