@import "styles/breakpoints.scss";

.footerContainer {
  padding: 40px 0;

  background-color: var(--main-background);
  color: var(--main-font-color);
  font-weight: 500;

  @include media(">=laptop") {
    padding: 10px 0;
  }
}

.footerIcons {
  display: flex;

  gap: 5px;
  font-size: 31px;
}

.footerLink {
  color: var(--main-font-color);

  padding: 10px;
}

.footerWrapper {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  text-align: center;

  @include media(">=laptop") {
    flex-direction: row;
    justify-content: space-between;
  }
}
