@import "styles/breakpoints.scss";

.footer {
  padding: 40px 0;

  background-color: var(--main-background);
  color: var(--main-font-color);
  font-weight: 500;

  .footerWrapper {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    .footerIcons {
      display: flex;

      gap: 5px;
      font-size: 31px;

      a {
        color: var(--main-font-color);

        padding: 10px;
      }
    }

    @include media(">=laptop") {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  @include media(">=laptop") {
    padding: 10px 0;
  }
}
